<div class="profile-container">
    <%# <%= current_user.photo %>
    <img class="avatar-large" src="<%= current_user.photo %>">
    <p class="profile-info">
    <%= @current_user.email %>
    </p>
</div>

<% if @mules %>
    <% @mules.each do %>
    <% end %>
<% end %>

<div class="container mt-5">
        <%= simple_form_for @mule do |f| %>
      <div class="row">
         <div class="col-5">
            <%= f.input :transportation_means %>
        </div>
         <div class="col-4">
            <%= f.input :rate_per_km_per_kg  %>      
        </div>
        <div class="col-3">
            <%= f.button :submit, class: "btn-login", style: "width:100%; margin-top:1.8rem;"%>     
        </div>
        <% end %>
  
    </div>
</div>

<% if @offers %>
    <% @offers.each do |offer|%>
    <div class="offer-card">
      <div class="offer-trip">
        <%= offer.starting_point %>
        <%= offer.destination %>
        <%= offer.distance %>
      </div>
      <p class="offer-commision"><%= offer.commision %> $<p>
      <div class="offer-status"><%= offer.status %></div>
    </div>
    <% end %>
<% end %>
