<div class="profile-container">
    <img class="avatar-large" src="<%= cl_image_path current_user.photo.key, height: 300, crop: :fill if current_user.photo.attached? %>">
    <p class="profile-info">
      <strong>Email address:</strong> <%= @current_user.email %> <br>
      <strong>Username:</strong> <%= @current_user.username %> <br>
      <strong>Your description:</strong> <%= @current_user.description %>
    </p>
</div>

<% if @mules %>
    <% @mules.each do %>
    <% end %>
<% end %>

<div class="container mt-5">
        <%= simple_form_for @mule do |f| %>
      <div class="row">
         <div class="col-4">
            <%= f.input :transportation_means %>
        </div>
        <div class="col-4">
            <%= f.input :location  %>
        </div>
         <div class="col-2">
            <%= f.input :rate_per_km_per_kg, :label => "Price/Km/Kg" %>
        </div>

        <div class="col-2">
            <%= f.button :submit, class: "btn-login", style: "width:100%; margin-top:1.8rem;"%>
        </div>
        <% end %>

    </div>
</div>



 <div class="content">
    <!-- Nav pills -->
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#login">Offers sent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#regis">jobs</a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="login" class=" tab-pane active">
                <% @offers.each do |offer|%>
        <%= link_to offer_path(offer) do %>
        <div class="card mt-2">
            <div class="card-body row">
                <h1 class="offer-info col-6">
                  <%= offer.starting_point.upcase %>  -   <%= offer.destination.upcase %>
                </h1>
            <div>
              Price: <%= offer.commission %>  $, <br>
              Distance: <%= offer.distance %> km</div>
            <div class="offer-status <%=offer.status%>"><%= offer.status %></div>


            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    <%# </div> %>
<%# 
    <div class="tab-content"> %>
      <div id="regis" class=" tab-pane fade">
                        <% @jobs.each do |job|%>
        <%= link_to offer_path(job) do %>
        <div class="card mt-2">
            <div class="card-body row">
                <h1 class="job-info col-6">
                  <%= job.starting_point.upcase %>  -   <%= job.destination.upcase %>
                </h1>
            <div>
              Price: <%= job.commission %>  $, <br>
              Distance: <%= job.distance %> km</div>
            <div class="offer-status <%=job.status%>"><%= job.status %></div>


            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>


        
    