<div class="profile-container">
    <%# <%= current_user.photo %>
    <img class="avatar-large" src="<%= current_user.photo %>">
    <p class="profile-info">
    <%= @current_user.email %>
    </p>
</div>

<% if @mules %>
    <% @mules.each do %>
    <% end %>
<% end %>

<div class="container mt-5">
        <%= simple_form_for @mule do |f| %>
      <div class="row">
         <div class="col-4">
            <%= f.input :transportation_means %>
        </div>
        <div class="col-4">
            <%= f.input :location  %>      
        </div>
         <div class="col-2">
            <%= f.input :rate_per_km_per_kg, :label => "Price/Km/Kg" %>      
        </div>
        <div class="col-2">
            <%= f.button :submit, class: "btn-login", style: "width:100%; margin-top:1.8rem;"%>     
        </div>
        <% end %>
  
    </div>
</div>
