<%# <%
  if @mule.user.photo.attached?
    url = cl_image_path @mule.user.photo.key, height: 300, crop: :fill
  else
    url = 'https://cdnmundo1.img.sputniknews.com/img/108565/78/1085657854_0:555:1500:1367_1000x541_80_0_0_ab86277e9d4cb8f1a28c69f7cd8438f4.jpg'
  end
%>

<div class="mule-info-card m-5" >
  <div class="mule-profile-infos">
    <img src='https://cdnmundo1.img.sputniknews.com/img/108565/78/1085657854_0:555:1500:1367_1000x541_80_0_0_ab86277e9d4cb8f1a28c69f7cd8438f4.jpg' class="card-mule-user avatar-bordered" />
    <div class="mule-details">
      <h2><%= @mule.user.username %></h2>
      <p><strong>Commission:</strong> <%= @mule.rate_per_km_per_kg %> €</p>
    </div>
  </div>
  <div class="mule-profile-description p-4 ">
    <p><strong>A bit of me:</strong> <%= @mule.description %></p>
    <p><strong>I do my services by:</strong> <%= @mule.transportation_means %></p>
  </div>
</div>

<div class="back-btn"><%= link_to 'Back', mules_path, class: "btn-login mr-5" %></div>
