<% if current_user %>
  <% redirect_to profile_path %>
<% end %>
<div class="banner-login" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://stocktonpropeller.com/wp-content/uploads/2020/06/What-Type-of-License-Do-you-Need-to-Fly-a-Twin-Blade-Propeller-Plane-1-resized.jpg);">
  <div class="container">
    <h1><span id="gofast">Go Fast :</span> <strong>stealth deliveries</strong> at <strong>your door</strong>!</h1>
    <p>Need to send your stuff overseas ? Select your Mule and chill, your load is on its way !</p>
    <%= link_to "Sign-up",  new_user_registration_path , class: "btn-signup"%>
    <%= link_to "login",  new_user_session_path , class: "btn-login"%>


  </div>
</div>

<div class="picture-container">
    <div class=picture>
      <%= image_tag "trip_man.svg", class: "picture" %>
    </div>
    <div class=picture>
      <%= image_tag "trip_man.svg", class: "picture" %>
    </div>
    <div class=picture>
      <%= image_tag "trip_man.svg", class: "picture" %>
    </div>
</div> %>