
<div class="banner-login" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://stocktonpropeller.com/wp-content/uploads/2020/06/What-Type-of-License-Do-you-Need-to-Fly-a-Twin-Blade-Propeller-Plane-1-resized.jpg);">
  <div class="container">
    <h1><span id="gofast">Go Fast :</span> <strong>stealth deliveries</strong> at <strong>your door</strong>!</h1>
    <p>Need to send your stuff overseas ?
    <br>
      Select your Mule and chill : your load is on its way !</p>
    <%= link_to "Join us !",  new_user_registration_path , class: "btn-signup btn-sm"%>
    <%= link_to "Welcome back",  new_user_session_path , class: "btn-login btn-lg"%>


  </div>
</div>

<div class="picture-container">
  <h3>Money generator with 3 easy steps ...</h3>
</div>
<div class="picture-container">
<%# <h3>Money generator with 3 easy steps ...</h3> %>
    <div class=picture>
      <%= image_tag "Box_man.svg", class: "picture " %>
      <p>Everything starts with a couple of packages get em and you're a third of the way to big money.</p>
    </div>
    <div class=picture>
      <%= image_tag "trip_man.svg", class: "picture" %>
      <p>Then go on a trip, deliveries go to all over the world think of it as a payed vacation</p>

    </div>
    <div class=picture>
      <%= image_tag "money_man.svg", class: "picture", style: "height:200px;width:200px;margin-top:2.6rem;" %>
      <p style="margin-top:1rem;top:-18rem;">Make big bucks $$$</p>

    </div>
</div>
