<!DOCTYPE html>
<html>
  <head>
    <title>GOFast</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="navbar-lewagon">
      <img class="navbar-brand" src="#">
      <% if current_user %>
        <%= link_to "Log out", destroy_user_session_path, :method => :delete, :confirm => "You sure?" %>
        <%= link_to profile_path do %>
          <img class="avatar" src="<%= current_user.photo %>">
            <%# <%= image_tag "image.jpg", class: "avatar" %>
        <% end %> 
      <% else %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
  </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
