<!DOCTYPE html>
<html>
  <head>
    <title>GOFast</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="navbar-lewagon">

      <%# <img class="navbar-brand" src="https://res.cloudinary.com/ddk5g0o9g/image/upload/v1637078562/kisspng-donkey-clip-art-glass-rabbit-logo-5ba2dd3dd3e5b3.5328907015374001258679_fucpgk.png"> %>
      <%= link_to root_path do %>
      <%= image_tag("https://res.cloudinary.com/ddk5g0o9g/image/upload/v1637078562/kisspng-donkey-clip-art-glass-rabbit-logo-5ba2dd3dd3e5b3.5328907015374001258679_fucpgk.png", class: "navbar-brand") %>
      <% end %>



      <% if current_user %>
        <%= link_to "Mules", mules_path, class: "other" %>

        <%= link_to "Log out", destroy_user_session_path, :method => :delete, :confirm => "You sure?", class: "login" %>
        <%= link_to profile_path do %>
          <img class="avatar" src="<%= cl_image_path current_user.photo.key if current_user.photo.attached? %>">
            <%# <%= image_tag "image.jpg", class: "avatar" %>
        <% end %>
      <% end %>
  </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
